<!DOCTYPE html>
<html>
<head>
	<title>Code school registration</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<div class="wraper">	<div class="main">  	
  <input type="checkbox" id="chk" aria-hidden="true">

    <div class="signup">
      <form action="/" method="post">
        <label for="chk" aria-hidden="true">Sign up</label>
        <input type="text" name="fname" placeholder="Full Name" required="">
        
        <input type="email" name="email" placeholder="Email" required="">
        <input type="number" name="number" placeholder="Enter your number" required="">
        <button>Sign up</button>
      </form>
    </div>

    <div class="login">
      <form action="/" method="post">
        <label for="chk" aria-hidden="true">Login</label>
        <input type="text" name="Name" placeholder="Full Name" required="">
    
        <input type="number" name="number" placeholder="Enter your number" required="">
        <input type="email" name="email" placeholder="Email" required="">
       
        <button>Login</button>
      </form>
    </div>
</div></div>
</body>
</html>